<li class="list-group-item" id="{{name}}">
    <input type="number" min="0" value="{{quantity}}">
    {{unit}} | {{name}}
    <a href="#" onclick="kitchen.delete_item($(this).parent().attr('id'))" style="float: right">
        <span class="glyphicon glyphicon-remove glyphicon-user" id="itemDelete-{{name}}" style="color:#cccccc"></span>
    </a>
</li>